if theme.rightbtn.back && is_post()
  a.content-back(
    href="/",
    onclick="try{var r=document.referrer;if(r&&new URL(r).origin===location.origin&&window.history.length>1){window.history.go(-1);return false;}}catch(e){}return true;",
    title="Back"
  )
    i.fa.fa-arrow-left
    span Back
